
<h2>Что это?</h2>
<h3>Приветствуем вас на сайте, который делает то, что хотят его пользователи</h3>

<p>На этом сайте возможно все что угодно.
    Для того, чтобы изменить что-либо, просто создаейте новую идею с описанием изменения.
    Идеи, которые будут поддержаны наибольшым количеством пользователей будут реализрваны.</p>

<p>Исходный код этого сайта открыт и находится на <a href="https://github.com/alternyx/alternyx">https://github.com/alternyx/alternyx</a>.
    Вы можете сами реализовывать идеи, что предложены другими пользователями, добавляя изменения на сайт.</p>

<h3>Как создать идею?</h3>

<p>После регистрации создания новой идеи будет возможно на главной странице.</p>

<h3>Зачем нужны баллы?</h3>

<p>Добавление новой идеи забирает 10 баллов.</p>
<p>Голосование за существующую идею забирает 1 балл.</p>

<h3>Как увеличить количество баллов?</h3>

<p>За каждую реализованную идею вы получаете столько баллов, сколько человек поддержали эту идею.</p>